# cargo
debug/
target/

# MacOS
.DS_Store

# vscode
.vscode

# prometheus
data/

# intellij-based IDEs
.idea

.env

# local-testnet.sh
local-validators

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# e2e test logs
test_logs/

# local planning docs
.github/.plans/
