[package]
name = "telcoin-network"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
description.workspace = true
exclude.workspace = true

[dependencies]
rpassword = { workspace = true }
tn-faucet = { workspace = true, optional = true }
clap = { workspace = true }
telcoin-network-cli = { workspace = true }
tn-node = { workspace = true }


[features]
default = []
faucet = ["tn-faucet"]

[lints]
workspace = true
