name: Warm dependency cache
on:
  push:
    branches: [main]
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-D warnings -D unused_extern_crates"
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  CARGO_PROFILE_DEV_DEBUG: 0
  CARGO_PROFILE_TEST_DEBUG: 0

jobs:
  warm-clippy-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install nightly toolchain
        run: |
          rustup toolchain install nightly-2025-11-04 -c clippy
          rustup default nightly-2025-11-04

      - name: Cache dependencies
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3
        with:
          shared-key: clippy-cache
          cache-on-failure: "true"

      - name: Build to populate cache
        run: cargo clippy --locked --all --all-features -- -D warnings

  warm-test-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install nightly toolchain
        run: |
          rustup toolchain install nightly-2025-11-04
          rustup default nightly-2025-11-04

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Cache dependencies
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3
        with:
          shared-key: test-cache
          cache-on-failure: "true"

      - name: Build to populate cache
        run: cargo nextest list --locked --workspace --exclude tn-faucet
